.card{
    height: 250px;
    width: 250px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-radius: 30%;
    transition: all 0.3s;
}

.display-3{
    transition: all 0.3s;
}

#reset{
    font-size: 2rem;
    font-weight: 800;
    background-color: transparent;
    border: none;
    transition: all 0.5s;
}

#result{
    font-size: 2rem;
    font-weight: 300;
    background-color: transparent;
}

#reset:hover{
    background-color: white;
    color: darkslategray;
}

#bar{
    font-size: 2rem;
    color: white;
    background-color: darkslategray;
}